@using StoneSafety.ViewModels.Products
@model ProductCreateVM

@{
    ViewData["Title"] = "Create";
}


<div class="w-50 m-auto">
    <form class="forms-sample" method="post" asp-action="Create" enctype="multipart/form-data">
        <div class="form-group mb-3">
            <label>Name</label>
            <input autocomplete="off" asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label>Description</label>
            <textarea autocomplete="off" rows="6" asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label>Price</label>
            <input autocomplete="off" asp-for="Price" step="any" type="number" class="form-control">
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label>Choose Subcategory</label>
            <select id="SubCategorySelect" asp-for="SubCategoryId" asp-items="Model.SubCategories" class="form-select">
                <option value="">-- Select Subcategory --</option>
            </select>
        </div>
        <div class="form-group mb-3">
            <label>Choose Sub-Subcategory</label>
            <select id="SubSubCategorySelect" asp-for="SubSubCategoryId" asp-items="Model.SubSubCategories" class="form-select">
                <option value="">-- Select SubSubCategory --</option>
            </select>
        </div>
        <div class="form-group mb-3">
            <label>ProductCode</label>
            <input autocomplete="off" asp-for="ProductCode" class="form-control">
            <span asp-validation-for="ProductCode" class="text-danger"></span>
        </div>        <div class="form-group mb-3">
            <label>Upload Images</label>
            <input asp-for="NewImages" type="file" accept="image/*" class="form-control" multiple>
            <span asp-validation-for="NewImages" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label>Rating</label>
            <select asp-for="Rating" class="form-select">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary me-2 mt-3">Submit</button>
        <a class="btn btn-light mt-3" asp-action="Index">Cancel</a>
    </form>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#SubCategorySelect').change(function () {
                var subCategoryId = $(this).val();
                var subSubCategorySelect = $('#SubSubCategorySelect');

                subSubCategorySelect.empty();
                subSubCategorySelect.append($('<option>', { value: '', text: '-- Select SubSubCategory --' }));

                if (subCategoryId) {
                    $.getJSON('@Url.Action("GetSubSubCategories", "Product")', { subCategoryId: subCategoryId }, function (data) {
                        console.log('Data received:', data);
                        $.each(data, function (index, item) {
                            subSubCategorySelect.append($('<option>', {
                                value: item.value,
                                text: item.text
                            }));
                        });
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        console.error('Error fetching sub-subcategories:', textStatus, errorThrown);
                    });
                }
            });
        });
    </script>
}